<?xml version="1.0" ?>
<!--
/**
 * Copyright © MaGuru. All rights reserved.
 * This module is developed for Magento® by MaGuru.
 * Magento® is a trademark of Adobe Inc.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="maguru" sortOrder="100" translate="label" class="maguru-section">
            <label>MaGuru</label>
        </tab>
        <section id="extension" translate="label" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
            <label>Extensions</label>
            <tab>maguru</tab>
            <resource>MaGuru_Core::config_section</resource>
            <group id="info" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>MaGuru Extensions Info</label>
                <attribute type="expanded">1</attribute>
                <field id="extensions_info" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Extensions Info</label>
                    <frontend_model>MaGuru\Core\Block\Adminhtml\System\Config\ExtensionsInfo</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>
